* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* light */
/* #6C7074 grey */
.app {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0px 15px;
	max-width: 1100px;
	height: 100vh;
  	text-align: center;
	font-family: 'Lato', sans-serif;
}

.app header {
	position: absolute;
	top: 0;
	padding-top: 3%;
	font-size: 20px;
	font-weight: 500;
	color:rgb(108, 112, 116);

}
.app header span {
	color: rgb(34, 131, 248);
}

.app footer{
	position: absolute;
	bottom: 0;
	color:rgb(108, 112, 116);
	font-size: 12px;
}
.app footer a{
	text-decoration: none;
	color: #2283F8;
}

.displayWrapper{
	color: rgb(0, 0, 0, 0.9);
	position: absolute;
	top: 35%;
	font-size: 60px;
	width: 100%;
	font-weight: 700;
}

.withMarks{
	position: absolute;
	padding-left: 8px;
	top: 25%;
	/* text-align: left; */
	font-size: 42px;
	font-weight: 500;
	color: rgb(0, 0, 0, 0.9);
}

.displayWrapper .textMark{
	position: relative;
	top: 6px;
	font-size: 16px;
	color:rgb(108, 112, 116);
}

.markWrapper{
	padding: 0 6px;
	position: absolute;
	top: 42%;
	width: 100%;
	height: 36%;
	overflow-y: scroll;
}

.markWrapper::-webkit-scrollbar {
	width: 8px;
	background-color: #f9f9fd;
}
  
.markWrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:rgb(95, 99, 104, 0.2);
}
  
.markWrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background-color: transparent;
}

.markWrapper .markFlex {
  	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	letter-spacing: 1px;
	color: rgb(0, 0, 0, 0.9);
}

.markWrapper .markFlex .numOfMark, 
.markWrapper .markFlex .different {
	color:rgb(108, 112, 116);
}

#marks{
	display: inline-block;
	position: relative;
	top: 0px;
	width: 16px;
	height: 16px;
	color:rgb(108, 112, 116);
}
.numOfMark{
	color: rgb(0, 0, 0, 0.9);
	color: red;
	position: relative;
	bottom: 7px;
	left: 7px;
}

.btnWrapper{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 200px;
	top: 80%;
}

.btnWrapper span #btnStart, #btnMark, 
#btnStop, #btnReset, #btnResume{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	font-size: 48px;
	color: #2283F8;
	box-shadow: 1px 1px 10px 4px  rgb(94, 99, 104, 0.16);
}
/* --------- */
.checkbox {
	position: absolute;
	bottom: 18%;
	left: 115%;
}

.custom-checkbox {
	position: relative;
	cursor: pointer;
	display: block;
	line-height: 20px;
}

.custom-checkbox-button {
	display: block;
	margin: 0 25px;
	width: 35px;
	border-radius: 12px;
	background: rgb(118, 118, 118);
	height: 20px;
	position: relative;
	bottom: -4px;
	cursor: pointer;
}

.custom-checkbox-button:before {
  position: absolute;
	bottom: 0px;
	left: -6px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.custom-checkbox.checked .custom-checkbox-button:before {
  left: 10px;
  content: "🌙";
}

.custom-checkbox .custom-checkbox-button:before {
	right: 40px;
	content: "☀️";
}

.custom-checkbox .custom-checkbox-button {
	border: 0.5px solid rgba(73, 73, 73, 0.15);
	background-color: rgb(56, 59, 63);
}

.custom-checkbox.checked .custom-checkbox-button {
	border: 0.5px solid rgba(73, 73, 73, 0.15);
	background-color: rgb(181, 188, 197);
}

/* dark theme ------------------------*/

/* dark-blue: rgb(121, 158, 216);
	~white: rgb(232, 234, 237);
	bgc: rgb(32, 33, 36);

*/

.app.dark {
	background-color: rgb(32, 33, 36);
	border: 1px solid rgb(232, 234, 237, 0.5);	
}
.app.dark header {
	color:rgb(232, 234, 237);
}
.app.dark header span {
	color: rgb(121, 158, 216);
}
.app.dark footer{
	color:rgb(232, 234, 237);
}
.app.dark footer a{
	color: rgb(121, 158, 216);
}
.app.dark .displayWrapper{
	color: rgb(232, 234, 237);
	background-color: rgb(32, 33, 36);
}
.app.dark .withMarks{
	color: rgb(232, 234, 237);
}
.app.dark .displayWrapper .textMark{
	color:rgb(232, 234, 237, 0.7);
}
.app.dark .markWrapper{
	color: rgb(232, 234, 237);
}
.app.dark .markWrapper::-webkit-scrollbar {
	background-color: rgb(32, 33, 36);
}
.app.dark .markWrapper::-webkit-scrollbar-thumb {
	background-color:rgb(232, 234, 237, 0.3);
}
.app.dark .markWrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
	background-color: transparent;
}

.app.dark .markWrapper .markFlex .numOfMark, .different {
	color:rgb(232, 234, 237, 0.7);
}
.app.dark #marks{
	color:rgb(232, 234, 237, 0.4);
}

.app.dark .btnWrapper span #btnStart,
.app.dark .btnWrapper span #btnMark, 
.app.dark .btnWrapper span #btnStop,
.app.dark .btnWrapper span  #btnReset,
.app.dark .btnWrapper span  #btnResume {
	border: 1px solid rgb(232, 234, 237, 0.1);
	color:rgb(121, 158, 216);
	box-shadow: 1px 1px 10px 4px  rgb(94, 99, 104, 0.16);
}
/* ---------  checkbox*/

.app.dark .custom-checkbox-button {
	background: rgb(118, 118, 118);
}
.app.dark .custom-checkbox.checked .custom-checkbox-button:before {
  left: 10px;
  content: "🌙";
}
.app.dark .custom-checkbox .custom-checkbox-button:before {
	right: 40px;
	content: "☀️";
}
.app.dark .custom-checkbox .custom-checkbox-button {
	border: 0.5px solid rgba(73, 73, 73, 0.15);
	background-color: rgb(32, 33, 36);
}
.app.dark .custom-checkbox.checked .custom-checkbox-button {
	border: 0.5px solid rgba(73, 73, 73, 0.15);
	background-color: rgb(232, 234, 237);
}
/* dark-blue: rgb(121, 158, 216);
	~white: rgb(232, 234, 237);
	bgc: rgb(32, 33, 36);

*/



